<style>
  #auto { color: #000; max-width: 99%; width: 300px; position: absolute; z-index: 999; font-size: 15px; padding: 10px; border: 1px solid #ddd; outline: none !important; top: 5px; border-radius: 10px; margin: 4px; }
</style>
<div
  id="map"
style="width: 99%; height: 99vh; background-color: white;"
></div>
<input
  type="text"
  id="auto"
  name="auto"
  class="search-outer form-control as-input"
  placeholder="Search places or eLoc's..."
  required=""
  spellcheck="false"
/>

<!-- <button (click)="getSearchData()">Click Me</button> -->



