<div class="container d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">
    <h1 class="text-center text-primary">Select a Category</h1>
    <div class="d-grid gap-3 mt-3">
      <button
        class="btn btn-outline-primary w-100"
        (click)="selectCategory('Snacks and Utilities')"
      >
        Snacks and Utilities
      </button>
      <button
        class="btn btn-outline-primary w-100"
        (click)="selectCategory('Meals')"
      >
        Meals
      </button>
      <button
        class="btn btn-outline-primary w-100"
        (click)="selectCategory('Tea and Coffee')"
      >
        Tea and Coffee
      </button>
    </div>
  </div>
</div>
