<div class="container">
  <div class="form-wrapper">
    <h1 class="text-center text-primary">Enter Your Phone Number</h1>
    <form [formGroup]="phoneForm" (ngSubmit)="submitPhone()" class="form-group">
      <input
        type="text"
        formControlName="phoneNumber"
        class="form-control"
        placeholder="Enter your phone number"
      />
      <div
        *ngIf="phoneForm.get('phoneNumber')?.touched && phoneForm.get('phoneNumber')?.invalid"
        class="text-danger mt-2"
      >
        Please enter a valid phone number.
      </div>
      <div *ngIf="message" class="mt-2 text-center" [ngClass]="{'text-success': !message.includes('Error'), 'text-danger': message.includes('Error')}">
        {{ message }}
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-3 w-100"
      >
        Send OTP
      </button>
    </form>
  </div>
</div>
